services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=abcd
      - MINIO_ROOT_PASSWORD=abcd2345
      - MINIO_DEFAULT_BUCKETS=buck1
    networks:
      mynet:
        aliases:
          - my-localhost  # Alias for localhost access
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"     
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - clickhouse-logs:/var/log/clickhouse-server
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=clickhouse

volumes:
  minio_data:
  clickhouse-data:
  clickhouse-logs:

